[Pp]ublish
.vsconfig
Library
UserSettings
*.pdb
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest
*.suo
*.user
*.ldf
*.bak
[Bb]in
[Oo]bj
[Dd]ebug
[Rr]elease
[Tt]humbs.db
.vs
packages
*.InstallLog
SR
*.aps
*.eto
ClientBin
GeneratedArtifacts
_Pvt_Extensions
[Tt]empFiles
Logs
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~ #*#
.#*
.*.swp
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild